<!-- admin submission of assignment details -->

<!-- <h1>New Assignment</h1>
<br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Film Title:</span>
  <input type="text" class="form-control" placeholder="Film Title" aria-describedby="basic-addon1">
</div>
<br>
Description: <br>
<textarea rows="10" cols="100">

</textarea>
<br> <br>

Deadline:
<div ng-controller="DatepickerDemoCtrl">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" data-provide='datepicker' uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            </p>
        </div>
    </div>
   
</div> -->
<h1>neue Hausaufgabe</h1>

<%= render 'form' %>
<!-- back button: -->
<!-- <%= link_to 'Back', assignments_path %> -->

