html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 80px;
    background-color: #E3472C;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #EFDA2E;
    border-top-style: solid;
    border-top-width: 10px;
}

.navbar{
    border-bottom-style: solid;
    border-bottom-width: 10px;
    background-color: #1E1E22;
}

.nav-navbar-nav {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
}

#navbar-right{
    float: right;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-navbar-nav li {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.table {
    font-family: Verdana, Geneva, sans-serif;
}

.gradeinfo {
    position: absolute;
    top: 150px;
    right: 15px;
}

.gradeinfo .gradevalue {
    position: absolute;
    right: 350px;
    width: 300px;
    border: 5px solid black;
    padding: 10px;
    background-color: #E8D879;

}

#bookmark {
    position: absolute;
    top: 160px;
    left: 450px;
}

#author-user{
    font-style: italic;
}

.table #bookmarkcounter {
    color: #E8EE79;
}
