<!-- admin submission of assignment details -->

<h1>New Assignment</h1>
<!-- <%= render 'form' %> -->

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Film Title" aria-describedby="basic-addon1">
</div>
<br>

<textarea rows="10" cols="100">

</textarea>

<!-- Large button group -->
<div class="btn-group">
  <button class="btn btn-default btn-lg" type="button" aria-haspopup="true" aria-expanded="false">
     Create Assignment <span class="caret"></span>
  </button>
</div> 



<%= link_to 'Back', assignments_path %>
