<!DOCTYPE html>

<p id="notice"><%= notice %></p>
<h1>meine Beiträge </h1>

<table class="table">
    <thead>
    <tr>
      <th  style="color:white">Titel des Beitrags </th>
      <th  style="color:white"> Zahl der Lesezeichen</th>
    </tr>
     </thead>

  <tbody>
    <%if @submission != nil %>
    <% @submission.each do |submission| %>
      <tr>
        <td><%= link_to submission.title, submission, style:"color:#E8EE79"%></td>
        <td id="bookmarkcounter"><%= Bookmark.where(submission_id: submission.id).count%></td>
      </tr>
      <%end%>
  <%end%>
  </tbody>
</table>

<!-- <%= link_to 'New Submission', new_submission_path %> -->
