<div class='page-header'>
  <h1>meine Beiträge</h1>
</div>

<table class="table">
    <thead>
    <tr>
      <th>Titel des Beitrags </th>
      <th>Zahl der Lesezeichen</th>
    </tr>
     </thead>

  <tbody>
    <%if @submission != nil %>
    <% @submission.each do |submission| %>
      <tr>
        <td><%= link_to submission.title, submission %></td>
        <td id="bookmarkcounter"><%= Bookmark.where(submission_id: submission.id).count%></td>
      </tr>
      <%end%>
  <%end%>
  </tbody>
</table>