<p id="notice"><%= notice %></p>

<h1>Class Submissions </h1>
<table class="table">
    <thead>
    <tr>
      <th colspan="9">Student Name </th><th colspan="3">Submission </th><th colspan="3"><th > Number Of Bookmarks</th><th colspan="3"><%if current_user.admin? %> Grade Out of 10 <%end%></th>
    </tr>
     </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
