<p id="notice"><%= notice %></p>



<% if !current_user.admin? %>
<h1>My Submissions</h1>

<table>
  <thead>
    <tr>
      <th> Submission Title  | </th><th>Grade Out of 10 </th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
    
    <% end %>
  </tbody>
</table>
<%end%>

<br>
<%= link_to 'New Submission', new_submission_path %>
