<p id="notice"><%= notice %></p>

<h1>Class Submissions (admin) </h1>

<table>
  <thead>
    <tr>
      <th>Student Name    | </th><th> Submission   | </th><th>Number of Bookmarks    | </th><th>Grade Out of 10 </th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
