<!DOCTYPE html>

<p id="notice"><%= notice %></p>
<h1>My Submissions </h1>

<table class="table">
    <thead>
    <tr>
      <th>Submission Title </th>
      <th > Number Of Bookmarks</th>
    </tr>
     </thead>

  <tbody>
    <%if @submission != nil %>
    <% @submission.each do |submission| %>
      <tr>
        <td><%= link_to submission.title, submission%></td>
        <td><%= Bookmark.where(submission_id: submission.id).count %></td>
      </tr>
      <%end%>
  <%end%>
  </tbody>
</table>

<!-- <%= link_to 'New Submission', new_submission_path %> -->
