html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 80px;
    // background-color: #6A8F8E;
    font-family: Verdana, Geneva, sans-serif;
}



.navbar-brand{
    height:auto;
}

.navbar-toggle{
    margin-top: $navbar-padding-vertical - 7;
}

.table > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: lighten($theme-base,10%);
}

.table > thead > tr > th{
    color:$theme-dark-text;
    background-color:$theme-dark;
}

.table{
    border-style:solid;
    border-color:$theme-dark;
    border-width:4px;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: $theme-dark;
    color:white;
    a{
        color:white;
    }
}



.gradeinfo {
    position: absolute;
    top: 85px;
    right: 15px;
}

.gradeinfo .gradevalue {
    position: absolute;
    right: 420px;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    padding: 10px;
    background-color: #E8D879;
}

#bookmark {
    position: absolute;
    top: 92px;
    left: 420px;
}

#author-user{
    font-style: italic;
}

.table #bookmarkcounter {
    color: #E8EE79;
}

.flip {
  -webkit-perspective: 800;
perspective: 800;

    position: relative;
 text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {

  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
  z-index: 2;
   
}
.flip .card .front {
  position: absolute;
   width: 100%;
  z-index: 1;

}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
  .inner{margin:0px !important;}
