$theme-base: lighten(#6A8F8E,5%);
$theme-dark: darken($theme-base,20%);
$theme-dark-text: lighten($theme-dark,75%);
$theme-dark-link:darken($theme-dark-text,30%);

$text-color:darken($theme-dark,10%);

$link-color:darken(saturate(darken($theme-base,17%),20%),7%);

$brand-primary: $theme-dark;

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// $state-success-bg:               #8AA899 !default;
$state-success-bg:               darken($theme-base, 10%) !default;
$state-success-text:             darken($state-success-bg, 30%) !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;